@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
        url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bebas Neue Book';
    src: local('Bebas Neue Book Regular'), local('BebasNeueBook'),
        url('../fonts/BebasNeueBook.woff2 BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar {
    max-width: 1278px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link {
    text-decoration: none;
    color: #fff;
}
.navbar-contacts {
    text-align: right;
}
.navbar-text {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 4px;
}
.navbar-phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main {
    display: flex;
    justify-content: space-between;
    max-width: 1278px;
    margin: auto;
    padding-top: 54px;
}
.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 68px 0;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover {
    opacity: 1;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.counter-arrow-down {
    transform: rotateX(180deg);
}
.main-title {
    font-family: "Bebas Neue Book", sans-serif;
    font-size: 37px;
    line-height: 37px;
    letter-spacing: 6px;
    word-spacing: -1px;
    text-transform: uppercase;
    color: #635854;
    margin: 0;
}
.counter {
    display: inline-block;
    height: 76px;
    font-family: "Bebas Neue Book", sans-serif;
    font-size: 100px;
    line-height: 1;
    color: #635854;
    margin-top: 30px;
    margin-bottom: 32px;
}
.button-primary {
    background-color: #3596f5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}